<div id="content">
</div>
<div id="buttons">
  <span id="brl" class="btn btn-primary btn-lg">
      Cotação do Real
  </span>
  <span id="eur" class="btn btn-primary btn-lg">
      Cotação do Euro
  </span>
  <span id="ars" class="btn btn-primary btn-lg">
      Cotação do Peso Argentino
  </span>
</div>
